//تعریف متغیر هاااا
$brownColor: #b0743f;

body {
  margin: 0;
  padding: 0;
}

@mixin sizeall($w,$h,$x,$y,$px,$py) {
  width: $w;
  height: $h;
  margin: $y $x;
  padding: $py $px;
}

@mixin displayall($distype,$disjusty,$disdire,$diswarp) {
  display: $distype;
  justify-content: $disjusty;
  flex-direction: $disdire;
  flex-wrap: $diswarp;

}

@mixin fontall($fontsize,$fontw,$directtext) {
  font-size: $fontsize;
  font-weight: $fontw;
  direction: $directtext;
}

@mixin pos($pos,$top) {
  position: $pos;
  top: $top;
}

// بدنه سی اس اس

.mySlides {
  position: absolute;
  @include sizeall(100%, 90vh, 0, 0, 0, 0)
}

#divbanner {
  @include pos(absolute, 0);
  right: 0;
  z-index: 2;
  box-sizing: border-box;
  @include sizeall(100%, 10vh, 0, 3vh, 2vw, 0);
  @include displayall(flex, space-between, row, wrap)
}

#sectionright {
  text-align: center;
  @include sizeall(60%, 100%, 0, 0, 0, 0);
}

#ullist {
  @include displayall(flex, space-evenly, row, wrap);
  list-style-type: none;
}

.lilist:hover {
  color: black;
  text-shadow: 0 3px whitesmoke;
  cursor: pointer;
}

.lilist {
  color: floralwhite;
  @include fontall(1.5vw, 600, ltr);
  margin: 0.5vw 0.3vh;
}

#H1title {
  @include pos(absolute, 25%);
  @include fontall(4.3vw, 700, ltr);
  text-align: center;
  left: 27vw;
  color: white;
}

#abot:hover {
  background-color: #b0743f;
  color: white;
}

#abot {
  @include pos(absolute, 61vh);
  cursor: pointer;
  @include fontall(1.2vw, 500, ltr);
  color: black;
  left: 45%;
  background-color: white;
  border-radius: 22px;
  @include sizeall(7.1vw, 3.5vh, 0, 0, 1.4vw, 2vh);
}

#divnav {
  @include sizeall(100%, 35vh, 0, 0, 0, 0);
  background-color: #b0743f;
  @include pos(absolute, 90vh);
  @include displayall(flex, space-evenly, row, wrap);

}

.articlenav:hover {
  transform: scale(1.1, 1.1);
  cursor: pointer;

}

.articlenav {
  @include sizeall(23vw, 32vh, 0.2vw, 1.5vh, 0, 0);
  border-right: 1px white solid;
  @include displayall(flex, center, column, wrap);
  align-items: center;
}

.h2nav {
  color: white;
}

.imgnav {
  @include sizeall(7vw, 10vh, 0.2vw, 1.5vh, 0, 0);
  margin-top: 5vh;

}

.articlepost:hover {
  background-color: #b0743f;
  color: #efeded;
}

.articlepost {
  background-color: #efeded;
  @include sizeall(30vw, 63vh, 0, 0, 0, 0);
  @include displayall(flex, center, column, wrap);
  align-items: center;
  border-radius: 8px;
}

#divpost {
  @include sizeall(100%, 130vh, 0, 0, 0, 0);
  @include pos(absolute, 125vh);
  @include displayall(flex, space-evenly, row, wrap);
  align-items: center;

}

.imgpost {
  @include sizeall(25vw, 40vh, 0, 0, 0, 0);

}

.h3post {
  @include fontall(1.5vw, 600, ltr)
}

.ppost {
  @include fontall(1.2vw, 400, ltr)
}

#aboutdiv {
  background-color: darkcyan;
  @include sizeall(100%, 93vh, 0, 0, 0, 0);
  @include pos(absolute, 260vh);
}
#aboutimg{
  @include sizeall(50%, 93vh, 0, 0, 0, 0);
}
#abosectionleft{
  @include sizeall(100%, 93vh, 0, 0, 0, 0);
  background-color: #efeded;
}
#abosectionright{
  @include sizeall(45vw, 67vh, 0, 0, 0, 0);
  background-color: #fff;
  @include pos(absolute, 12vh);
  left: 44%;
  border-radius: 24px;
}

