body {
  margin: 0;
  padding: 0; }

.mySlides {
  position: absolute;
  width: 100%;
  height: 90vh;
  margin: 0 0;
  padding: 0 0; }

#divbanner {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  box-sizing: border-box;
  width: 100%;
  height: 10vh;
  margin: 3vh 0;
  padding: 0 2vw;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap; }

#sectionright {
  text-align: center;
  width: 60%;
  height: 100%;
  margin: 0 0;
  padding: 0 0; }

#ullist {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none; }

.lilist:hover {
  color: black;
  text-shadow: 0 3px whitesmoke;
  cursor: pointer; }

.lilist {
  color: floralwhite;
  font-size: 1.5vw;
  font-weight: 600;
  direction: ltr;
  margin: 0.5vw 0.3vh; }

#H1title {
  position: absolute;
  top: 25%;
  font-size: 4.3vw;
  font-weight: 700;
  direction: ltr;
  text-align: center;
  left: 27vw;
  color: white; }

#abot:hover {
  background-color: #b0743f;
  color: white; }

#abot {
  position: absolute;
  top: 61vh;
  cursor: pointer;
  font-size: 1.2vw;
  font-weight: 500;
  direction: ltr;
  color: black;
  left: 45%;
  background-color: white;
  border-radius: 22px;
  width: 7.1vw;
  height: 3.5vh;
  margin: 0 0;
  padding: 2vh 1.4vw; }

#divnav {
  width: 100%;
  height: 35vh;
  margin: 0 0;
  padding: 0 0;
  background-color: #b0743f;
  position: absolute;
  top: 90vh;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap; }

.articlenav:hover {
  transform: scale(1.1, 1.1);
  cursor: pointer; }

.articlenav {
  width: 23vw;
  height: 32vh;
  margin: 1.5vh 0.2vw;
  padding: 0 0;
  border-right: 1px white solid;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center; }

.h2nav {
  color: white; }

.imgnav {
  width: 7vw;
  height: 10vh;
  margin: 1.5vh 0.2vw;
  padding: 0 0;
  margin-top: 5vh; }

.articlepost:hover {
  background-color: #b0743f;
  color: #efeded; }

.articlepost {
  background-color: #efeded;
  width: 30vw;
  height: 63vh;
  margin: 0 0;
  padding: 0 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 8px; }

#divpost {
  width: 100%;
  height: 130vh;
  margin: 0 0;
  padding: 0 0;
  position: absolute;
  top: 125vh;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center; }

.imgpost {
  width: 25vw;
  height: 40vh;
  margin: 0 0;
  padding: 0 0; }

.h3post {
  font-size: 1.5vw;
  font-weight: 600;
  direction: ltr; }

.ppost {
  font-size: 1.2vw;
  font-weight: 400;
  direction: ltr; }

#aboutdiv {
  background-color: darkcyan;
  width: 100%;
  height: 93vh;
  margin: 0 0;
  padding: 0 0;
  position: absolute;
  top: 260vh; }

#aboutimg {
  width: 50%;
  height: 93vh;
  margin: 0 0;
  padding: 0 0; }

#abosectionleft {
  width: 100%;
  height: 93vh;
  margin: 0 0;
  padding: 0 0;
  background-color: #efeded; }

#abosectionright {
  width: 45vw;
  height: 67vh;
  margin: 0 0;
  padding: 0 0;
  background-color: #fff;
  position: absolute;
  top: 12vh;
  display: flex;
  justify-content: start;
  flex-direction: column;
  flex-wrap: wrap;
  left: 44%;
  padding: 2vw 10vh;
  border-radius: 24px;
  box-sizing: border-box;
  text-align: justify;
  text-justify: inter-word; }

#aboutp {
  font-size: 1.3vw;
  font-weight: 500;
  direction: ltr; }

#abouth2 {
  font-size: 2vw;
  font-weight: 600;
  direction: ltr; }

#aboutbot:hover {
  background-color: #b0743f; }

#aboutbot {
  width: 9vw;
  height: 2vh;
  margin: 0 0;
  padding: 3vh 2vw;
  font-size: 1vw;
  font-weight: 600;
  direction: ltr;
  background-color: #2f2f2f;
  border-radius: 24px;
  color: #efeded; }

#ostaddiv {
  width: 100%;
  height: 75vh;
  margin: 0 0;
  padding: 0 0;
  background-color: #e7e7e7;
  position: absolute;
  top: 351vh;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap; }

.articleostad {
  width: 23vw;
  height: 60vh;
  margin: 0 0;
  padding: 0 0;
  background-color: #ffffff;
  display: flex;
  justify-content: start;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 16px;
  margin-top: 4vh;
  box-shadow: 0 2px 18px 5px #adacac; }

.imgostad {
  width: 100%;
  height: 45vh;
  margin: 0 0;
  padding: 0 0;
  border-radius: 16px; }

/*# sourceMappingURL=style.css.map */
