//تعریف متغیر هاااا
$brownColor: #b0743f;

body {
  margin: 0;
  padding: 0;
}

@mixin sizeall($w,$h,$x,$y,$px,$py) {
  width: $w;
  height: $h;
  margin: $y $x;
  padding: $py $px;
}

@mixin displayall($distype,$disjusty,$disdire,$diswarp) {
  display: $distype;
  justify-content: $disjusty;
  flex-direction: $disdire;
  flex-wrap: $diswarp;

}

@mixin fontall($fontsize,$fontw,$directtext) {
  font-size: $fontsize;
  font-weight: $fontw;
  direction: $directtext;
}

@mixin pos($pos,$top) {
  position: $pos;
  top: $top;
}

// بدنه سی اس اس

.mySlides {
  position: absolute;
  @include sizeall(100%, 90vh, 0, 0, 0, 0)
}

#divbanner {
  @include pos(absolute, 0);
  right: 0;
  z-index: 2;
  box-sizing: border-box;
  @include sizeall(100%, 10vh, 0, 3vh, 2vw, 0);
  @include displayall(flex, space-between, row, wrap)
}

#sectionright {
  text-align: center;
  @include sizeall(60%, 100%, 0, 0, 0, 0);
}

#ullist {
  @include displayall(flex, space-evenly, row, wrap);
  list-style-type: none;
}

.lilist:hover {
  color: black;
  text-shadow: 0 3px whitesmoke;
  cursor: pointer;
}

.lilist {
  color: floralwhite;
  @include fontall(1.5vw, 600, ltr);
  margin: 0.5vw 0.3vh;
}

#H1title {
  @include pos(absolute, 25%);
  @include fontall(4.3vw, 700, ltr);
  text-align: center;
  left: 27vw;
  color: white;
}

#abot:hover {
  background-color: $brownColor;
  color: white;
}

#abot {
  @include pos(absolute, 61vh);
  cursor: pointer;
  @include fontall(1.2vw, 650, ltr);
  color: black;
  left: 45%;
  background-color: white;
  border-radius: 22px;
  @include sizeall(7.4vw, 3.5vh, 0, 0, 1.4vw, 2vh);
}

#divnav {
  @include sizeall(100%, 35vh, 0, 0, 0, 0);
  background-color: $brownColor;
  @include pos(absolute, 90vh);
  @include displayall(flex, space-evenly, row, wrap);

}

.articlenav:hover {
  transform: scale(1.1, 1.1);
  cursor: pointer;

}

.articlenav {
  @include sizeall(23vw, 32vh, 0.2vw, 1.5vh, 0, 0);
  border-right: 1px white solid;
  @include displayall(flex, center, column, wrap);
  align-items: center;
}

.h2nav {
  color: white;
  text-align: center;
  @include fontall(1.5vw, 600, ltr);
  letter-spacing: 5px;
}

.imgnav {
  @include sizeall(7vw, 10vh, 0.2vw, 1.5vh, 0, 0);
  margin-top: 5vh;

}

.articlepost:hover {
  background-color: $brownColor;
  color: #efeded;
}

.articlepost {
  background-color: #efeded;
  @include sizeall(30vw, 63vh, 0, 0, 0, 0);
  @include displayall(flex, center, column, wrap);
  align-items: center;
  border-radius: 8px;
}

#divpost {
  @include sizeall(100%, 130vh, 0, 0, 0, 0);
  @include pos(absolute, 125vh);
  @include displayall(flex, space-evenly, row, wrap);
  align-items: center;

}

.imgpost {
  @include sizeall(25vw, 40vh, 0, 0, 0, 0);

}

.h3post {
  @include fontall(1.4vw, 600, ltr)
}

.ppost {
  @include fontall(1.2vw, 400, ltr)
}

#aboutdiv {
  background-color: darkcyan;
  @include sizeall(100%, 93vh, 0, 0, 0, 0);
  @include pos(absolute, 260vh);
}

#aboutimg {
  @include sizeall(50%, 93vh, 0, 0, 0, 0);
}

#abosectionleft {
  @include sizeall(100%, 93vh, 0, 0, 0, 0);
  background-color: #efeded;
}

#abosectionright {
  @include sizeall(45vw, 67vh, 0, 0, 0, 0);
  background-color: #fff;
  @include pos(absolute, 12vh);
  @include displayall(flex, start, column, wrap);
  left: 44%;
  padding: 2vw 10vh;
  border-radius: 24px;
  box-sizing: border-box;
  text-align: justify;
  text-justify: inter-word;
}

#aboutp {
  @include fontall(1.3vw, 500, ltr);
}

#abouth2 {
  @include fontall(2vw, 600, ltr);
}

#aboutbot:hover {
  background-color: $brownColor;
}

#aboutbot {
  @include sizeall(9vw, 2vh, 0, 0, 2vw, 3vh);
  @include fontall(1vw, 600, ltr);
  background-color: #2f2f2f;
  border-radius: 24px;
  color: #efeded;
}

#ostaddiv {
  @include sizeall(100%, 95vh, 0, 0, 0, 0);
  background-color: #e7e7e7;
  @include pos(absolute, 351vh);
  @include displayall(flex, space-evenly, row, wrap);
}

.articleostad:hover {
  transform: scale(1.05, 1.05);
}


.articleostad {
  @include sizeall(23vw, 63vh, 0, 0, 0, 0);
  background-color: #ffffff;
  @include displayall(flex, start, column, wrap);
  align-items: center;
  border-radius: 16px;
  margin-top: 16vh;
  box-shadow: 0 2px 18px 5px #adacac;
}

.imgostad {
  @include sizeall(100%, 43vh, 0, 0, 0, 0);
  border-radius: 16px;
}

.h3ostad {
  @include fontall(1.4vw, 600, ltr);
}

.postad {
  @include fontall(1.3vw, 400, ltr);
}

#exprdiv {
  @include sizeall(100%, 99vh, 0, 0, 0, 0);
  background-color: #f5f5f5;
  @include pos(absolute, 446vh);
  @include displayall(flex, space-evenly, row, wrap);
}

#exprleft {
  @include sizeall(50%, 99vh, 0, 0, 0, 0);
  text-align: center;
}

#exprimg {
  @include sizeall(30vw, 100%, 0, 0, 0, 0);
}

#exprright {
  box-sizing: border-box;
  @include sizeall(50%, 99vh, 0, 0, 2.5vw, 1vh);
  @include displayall(flex, start, column, wrap);
}

#exprh2 {
  @include fontall(3.2vw, 700, ltr);
  margin-top: 12vh;
}

#exprp {
  text-align: justify;
  text-justify: inter-word;
  @include fontall(1.3vw, 500, ltr);
}

#exprbdiv {
  @include sizeall(100%, 22vh, 0, 0, 0, 0);
  margin-top: 15vh;
  @include displayall(flex, space-evenly, row, wrap);
}

#exprbdiv1 {
  @include displayall(flex, center, column, wrap);
  @include sizeall(10vw, 100%, 0, 0, 0, 0);
  align-items: center;
}

#exprbdiv2 {
  @extend #exprbdiv1;
}

#exprbdiv3 {
  @extend #exprbdiv1;
}

#exprspan1 {
  @include fontall(3.5vw, 700, ltr);
  color: $brownColor;
}

#exprspan2 {
  @extend #exprspan1;
}

#exprspan3 {
  @extend #exprspan1;
}

#exprp1 {
  @include fontall(1.3vw, 700, ltr);
}

#exprp2 {
  @extend #exprp1;
}

#exprp3 {
  @extend #exprp1;
}
#ostadtitle{
  @include pos(absolute, 350vh);
  left: 34vw;
  @include fontall(3vw, 600, ltr);
  letter-spacing: 3px;
}
